@model EODevelopementApplication.Models.UserModel
@{
    ViewData["Title"] = "Login";
}
<div class="row">
    <div class="col-md-2">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-success" />
                <a asp-controller="Login" asp-action="Register" class="btn btn-primary">Create</a>
            </div>
        </form>
    </div>
</div>
